/* hide disabled buttons */


/* disable default outline on focused items */
/* add custom outline on focused items */
button.rec-dot{
    background-color: black;
    box-shadow: 0 0 1px 1px black;
  }
  button.rec-dot:hover {
    box-shadow: 0 0 1px 3px rgba(235,16,16,0.5);
  }